<%= form_for @community do |form| %>
  <div class="border-b border-gray-900/10 pb-12">
    <div class="space-y-12">
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-4">
          <%= label_tag :name, "Name", class: 'form-label' %>

          <div class="mt-2">
            <div class="form-input">
              <%=
                form.text_field :name, 
                class: "form-input__input",
                disabled: view_enabled
              %>
            </div>
          </div>
        </div>

        <div class="sm:col-span-4">
          <%= label_tag :url, "URL", class: 'form-label' %>

          <div class="mt-2">
            <div class="form-input">
              <%=
                form.text_field :url,
                class: "form-input__input",
                disabled: view_enabled
              %>
            </div>
          </div>
        </div>

        <div class="sm:col-span-4">
          <%= label_tag :rules, "Rules", class: 'form-label' %>

          <div class="mt-2">
            <div class="form-input">
              <%=
                form.text_area :rules,
                class: "form-input__input",
                disabled: view_enabled
              %>
            </div>
            <p class="mt-3 text-sm/6 text-gray-600">Write a few sentences about the community rules.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-6 flex items-center justify-end gap-x-6">
    <%= link_to "Cancel", communities_path, class: "btn text-sm/6 font-semibold text-gray-900" %>

    <% if !view_enabled %>
      <%= form.submit "Submit", disable_with: 'Submiting...', class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>


